.body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#UsersBody {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
}

#UsersBody tbody td, #UsersBody thead td {
    border: 1px solid #ddd;
    padding: 5px;
}

#UsersBody tbody tr:nth-child(even){background-color: #f2f2f2;}

#UsersBody tbody tr:hover {background-color: #ddd;}

#UsersBody thead td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #4CAF50;
    color: black;
}

.divPaging{
    padding-top: 12px;
    padding-bottom: 12px;
}

.divGrid{
    height: 50%;
    padding: 12px;
}